.App {
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.black-nav {
  background: #000;
  width: 100%;
  display: flex;
  color: white;
  padding: 20px;
  font-weight: 600;
  font-size: 20px;
}

.list{
  padding: 0 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
